@import '../variables.scss';

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.overlay--active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: fadein 0.5s;
}

.overlay__header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2.5rem 6rem;
  button {
    font-size: 2rem;
  }
}

.overlay__content {
  padding: 0 6.5rem;
  color: #21252b
}
