@import '../variables.scss';

.recipe {
  margin-bottom: 2rem;
  position: relative;
  cursor: pointer;
  border: 1px solid mix(black, lemonchiffon, 20%);
  background-color: $primary !important;
  .recipe__card {
    height: 26rem;
  }
  .recipe__image {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .recipe__actions {
    display: none;
    width: 100%;
    height: 5rem;
    flex-direction: column;
    position: absolute;
    top: 35%;
    z-index: 9999;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    .recipe__button {
      border-width: 2px;
      &:hover,
      &:focus {
        background: #fff9ed !important;
        color: $primary;
      }      
    }
  }
  &:hover,
  &:focus {
    border: 2px solid $primary;
    .recipe__card {
      opacity: .2;
    }
    .recipe__actions {
      display: flex;
    }    
  }
}

