.overlay__filter {
  display: none;
}

.overlay__filter--active {
  display: flex;
  flex-direction: column;
}

.filter__form {
  .filter__choices {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    .filter__choices__column {
      max-height: 50vh;
      padding-right: 1rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.form__actions {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  margin-top: 3rem;
  button:first-child {
    margin-right: 1.5rem;
  }
}