@import "./variables.scss";

.app__header {
  line-height: "64px";
  padding: 0 3.5%;
  background-color: mix(black, $maroon, 50%);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  img {
    width: 50px;
    margin-right: 1rem;
  }
  h1 {
    color: #fff9ed;
  }
  span {
    flex: 1;
  }
  .app__menu {
    line-height: 64px;
    background-color: mix(black, $maroon, 50%);
  }
}

.app__content {
  padding: 2.5rem 3.5% 3rem 3.5%;
  background: #fff9ed url("./assets/images/bg-pattern.jpg") repeat;
  background-attachment: fixed;
  background-size: 30%;
}

.app__footer {
  padding: 2.5rem 4%;
  text-align: center;
  color: white;
  background-color: $primary;
}
